.landing-page-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #ec6f6f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.bulleted-list li a {
    color: #1520b1;
    margin-left: 1rem;
    text-decoration: none;
    line-height: 40px;
}

.heading {
    background-color: ;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #760a0a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #A333FFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

body {
    background-color: #FF9D8AFF;
}

p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 1rem;
    color: rgb(57, 27, 82);
    text-align: center;
    letter-spacing: 0.1rem;
}

ul, ol {
    line-height: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}